<div class="home-container">
  <div class="home-header">
    <header data-thq="thq-navbar" class="home-navbar-interactive">
      <div class="home-container1">
        <nav class="home-links">
          <a routerLink="/" class="home-nav1">About</a>
        </nav>
      </div>
      <div class="home-container2">
        <div data-thq="thq-navbar-nav" class="home-desktop-menu"></div>
      </div>
      <div data-thq="thq-mobile-menu" class="home-mobile-menu"></div>
      <a routerLink="**" class="home-nav2">Careers</a>
    </header>
  </div>
  <div class="home-hero">
    <div class="home-hero1">
      <div class="home-container3">
        <h1 class="home-hero-heading heading1">
          <span>
            Welcome to
            <span [innerHTML]="raw4ktj"></span>
          </span>
          <br />
          <span>Rozgaar Samadhan</span>
        </h1>
        <span class="home-hero-sub-heading">
          Connecting Expert Surveyors to Your Projects
        </span>
        <div class="home-btn-group"></div>
      </div>
    </div>
  </div>
  <div class="home-details">
    <div class="home-details1">
      <div class="home-container4">
        <span class="home-text03 sectionTitle">
          <span>Details</span>
          <br />
        </span>
        <h2 class="home-details-heading heading2">Who We Are</h2>
        <span class="home-details-sub-heading">
          At Rozgaar Samadhan, we link researchers and companies with skilled
          surveyors effortlessly. Our vast database bridges the gap between
          research needs and talented professionals, ensuring seamless
          collaboration where expertise meets opportunity.
        </span>
      </div>
      <img
        alt="image"
        src="https://images.unsplash.com/photo-1521669246297-b04a27e36f07?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcwNDU0NjE5OHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=400"
        class="home-details-image"
      />
    </div>
  </div>
  <div class="home-features">
    <div class="home-features-container">
      <div class="home-features1">
        <div class="home-container5">
          <span class="home-text06 sectionTitle">
            <span>features</span>
            <br />
          </span>
          <h2 class="home-features-heading heading2">
            Explore Our Key Features
          </h2>
          <span class="home-features-sub-heading">
            Why Choose Rozgaar Samadhan?
          </span>
        </div>
        <div class="home-container6">
          <feature-card
            heading="Tailored Matching Process"
            subHeading="Find the perfect surveyor for your project through our customized matching process. We analyze your requirements and connect you with the most suitable professionals from our database."
          ></feature-card>
          <feature-card
            heading="Diverse Skillsets"
            subHeading="Access a pool of surveyors with diverse skills and expertise. Whether you need someone for rural studies or urban projects, Rozgaar Samadhan has you covered."
          ></feature-card>
          <feature-card
            heading="Efficient Project Management"
            subHeading="Streamline your projects with our user-friendly platform. Manage tasks, track progress, and communicate with surveyors effortlessly to ensure project success."
          ></feature-card>
          <feature-card
            heading="Quality Assurance"
            subHeading="Rest assured with our commitment to quality. Rozgaar Samadhan ensures that every surveyor in our network is experienced, reliable, and committed to delivering exceptional results."
          ></feature-card>
        </div>
      </div>
    </div>
  </div>
  <div class="home-footer">
    <footer class="home-footer1">
      <div class="home-container7">
        <span class="home-logo">Rozgaar Samadhan</span>
        <nav class="home-nav">
          <span class="home-nav11">About</span>
          <a routerLink="**" class="home-nav21">Careers</a>
        </nav>
      </div>
      <div class="home-separator"></div>
      <div class="home-container8">
        <span class="home-text09">
          © 2024 Rozgaar Samadhan, All Rights Reserved.
        </span>
        <div class="home-icon-group"></div>
      </div>
    </footer>
  </div>
</div>
